.para{
    font-weight:bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.image{
    width: 120px;
    height: 120px; 
    transition: 0.3s;
    
   
    
    
 
}
.image:hover{opacity: 0.6;
transform: scale(1.1);}

.button{
    border-radius:5px;
    transition: 0.4s ease-in-out;

}

.button:hover{

    transform: scale(1.1);
}

.heading{
    transform: scale(1);
    height: 80px;
}

