.sandy{
    display: flex;

}

.trans{
    width: 100%;
    height: 100%;
    color: red;
    margin: 10px;
    width: 35%;
    float: left;
}

.billing{
    margin-top: 8.5px;
    margin-left: -10px;
}

.bill-div{
    margin-top: 6.8px;
    width: 10px important;
}
.search-lab{
    margin: 20px;
}

.bill-inp{
    width: 75px;
    height: 38px;
    border: 1.5px solid black;
}

.submitButton{
        margin-left: 71.6%;
        width: 75px;
        color: blue;
        margin-top: 10px;
        cursor: pointer;
}
.search-inp{
    width: 50%;
}

.button{
    color: red;
    margin-top: 10px;
    margin-left: 250px;
    float: left;
    padding: 5px;
    font-weight: bolder;
    font-size: 12px;
    border: 1px solid black;
}

.trans-tab{
    width: 35%;
    margin-left: 10px;
}
.tot-fee{
    background-color: aliceblue;
    margin-top: 2%;
    float: left;
    border: 1px solid black;
}

.tot-fee-tr{
    border: 1px solid black;
    padding : 10px; 
}